/* .addStudent__component{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.addStudent__form{
    width: 350px;
    height: 320px;
    padding: 20px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
} */